@font-face {
  font-family: Gotham;
  src: url('https://www.tipser.com/fonts/Gotham-Light.eot') format('embedded-opentype'),
    url('https://www.tipser.com/fonts/Gotham-Light.otf') format('opentype'),
    url('https://www.tipser.com/fonts/Gotham-Light.woff') format('woff'),
    url('https://www.tipser.com/fonts/Gotham-Light.ttf') format('truetype'),
    url('https://www.tipser.com/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url('https://www.tipser.com/fonts/Gotham-Book.eot') format('embedded-opentype'),
    url('https://www.tipser.com/fonts/Gotham-Book.otf') format('opentype'),
    url('https://www.tipser.com/fonts/Gotham-Book.woff') format('woff'),
    url('https://www.tipser.com/fonts/Gotham-Book.ttf') format('truetype'),
    url('https://www.tipser.com/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url('https://www.tipser.com/fonts/Gotham-Medium.eot') format('embedded-opentype'),
    url('https://www.tipser.com/fonts/Gotham-Medium.otf') format('opentype'),
    url('https://www.tipser.com/fonts/Gotham-Medium.woff') format('woff'),
    url('https://www.tipser.com/fonts/Gotham-Medium.ttf') format('truetype'),
    url('https://www.tipser.com/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url('https://www.tipser.com/fonts/Gotham-Bold.eot') format('embedded-opentype'),
    url('https://www.tipser.com/fonts/Gotham-Bold.otf') format('opentype'),
    url('https://www.tipser.com/fonts/Gotham-Bold.woff') format('woff'),
    url('https://www.tipser.com/fonts/Gotham-Bold.ttf') format('truetype'),
    url('https://www.tipser.com/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* GLOBAL STYLES */
html,
body {
  background: white;
  margin: 0;
  padding: 0;
}
div,
span,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
a,
input,
button,
select {
  box-sizing: border-box;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.main-container {
  margin: 0;

  .search-input {
    border: 1px solid black;
  }
}

.te-menu {
  .te-link {
    text-decoration: none;
    div {
      color: white;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

.te-page {
  width: 100%;
}

.te-checkout-stand-alone {
  width: 100%;
}

.te-collection-container {
  width: 100%;

  .te-collection {

    justify-content: flex-start!important;

    .te-product-card {
      padding: 5px 5px 40px;

      .te-product-card-img {
        height: 350px;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: ' ';
          background-color: #0000000d;
          z-index: 1;
        }
      }

      .te-product-card-brand {
        font-size: 0.8em;
      }
      .te-product-card-name {
        max-width: 80%;
      }

      .te-product-card-price {
        margin-bottom: 1em;
      }

      .te-button-text {
        font-size: 0.7em;
      }

    }

  }

}

.te-dialog-product-thumb {
  cursor: pointer;
}
