.header {
  margin-bottom: 10px;

  .second-row {
    display: flex;
    justify-content: space-between;

    .cart-container {
      margin-left: 10px;
    }

    &-element {
    }

    &-right-container {
      display: flex;
    }
  }
}
